@model IEnumerable<WebApplication1.Models.FileIndex>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a href="~/File/Push">Push new</a>
<br />
@foreach (var file in Model)
{
    <a href="~/File/Info?id=@file.Id">
        @file.Name<br />
        @file.ShortDesc<br />
    </a>
}
